@media screen and (max-width: 480px) {
  .responsive-banner {
    padding-top: 25%;
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 480px) {
  .responsive-banner {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
